.float_btn{
    display: inline-block;
    font-size:14px;
    color: black;
    padding: 14px 24px;
    border-radius: 35px;
    border: none;
    border:1px solid black;
    margin-top: 20px;
    transform: translateY(0);
    position: relative;
    text-decoration: none;
}
.float_btn:hover{
    box-shadow: 0px 5px 0px -1px rgba(0,0,0,1);
    transform: translate(0px, -5px);            
    /* transition: all ease-in-out 200ms; */
    transition: transform .3s cubic-bezier(.5,2.5,.7,.7),box-shadow .3s cubic-bezier(.5,2.5,.7,.7),-webkit-transform .3s cubic-bezier(.5,2.5,.7,.7),-webkit-box-shadow .3s cubic-bezier(.5,2.5,.7,.7);
}

#Header #sign_out{
    display: none ;
    display: inline-block;
    width: 50%;
}

#Header{
    /* border: 1px solid red; */
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    z-index: 999;
    background-color: white;
}

#mySidenav{
    z-index: 999;
}

#myinnerreside-nav{
    z-index: 999;
}


.nev-bar:nth-child(1){
    display: grid;
    grid-template-columns:repeat(4,1fr);
    align-items: center;

}

.nev-bar:nth-child(1)>button{
    border: none;
    background: none;
}


.nev-bar:nth-child(2){
    /* border: 1px solid aquamarine; */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.nev-bar:nth-child(2)>img{
    width: 20%;
}

.nev-bar:nth-child(3){
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    
}



.nev-bar:nth-child(3)>div:nth-child(1){
   text-align: right;
   color: black;

}

.nev-bar:nth-child(3)>div:nth-child(1)>p:hover{
    color: #007c89;
    text-decoration: underline;
}

.nev-bar:nth-child(3)>div:nth-child(3)>button{
    padding: 7px;
    border-radius: 30px 30px 30px 30px;
}

.nev-bar:nth-child(3)>div:nth-child(3)>button:nth-child(1){
    background-color: white;
}

.nev-bar:nth-child(3)>div:nth-child(3)>button:nth-child(1):hover{
    transition: cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 30px 10px 30px 10px;
    
}

.nev-bar:nth-child(3)>div:nth-child(3)>button:nth-child(2){
    background-color: #ffe01b;
}

.nev-bar:nth-child(3)>div:nth-child(3)>button:nth-child(2):hover{
    transition: cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 30px 10px 30px 10px;
    
}


.nev-barAncer{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nev-barAncer:hover{
    color: #007c89;
    text-decoration: underline;
}

.side-bar{
    display: block;
    visibility: hidden;
}




/* file from header css */


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

/* side bar p tag */

.side-barP {
    padding-left: 1.9rem;
}

.side-barh2 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.side-barh2:hover {
    color: #007c89;
}

.sidenav a:hover {
    color: #007c89;
}

/* inner side nav */
/* inner side nav */

.innerside-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 520px;
    background-color: #f6f6f4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;    
    /* padding-left: 40px; */
}

.ullist-innernev {
    list-style-type: none;
    padding-top: 5.2rem;
    padding-right: 20px;
    padding-left: 40px;
}

.innernevAnc {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.innernevAnc:hover {
    color: #007c89;
}

.innernavp {
    color: #727070;
}

.icon-nav {
    padding: auto;
    padding-left: 2rem;
}

.icon-nav>i:nth-child(2) {
    padding-left: 1.5rem;
}

