*{
    margin:0px;
    padding:0px;
}
/* top start */
.mktop{
    width: 100%;
    padding-top:100px;
    background-color: #c5dbf2;
}
.mktop>#mkinbox{
    width:70%;
    display:flex;
    justify-content: space-around;
    /* border:1px solid; */
    margin:auto;
    padding-bottom: 60px;
}
.mktop>#mkinbox>#mkin1{
    width:45%;
    /* border:1px solid red; */
}
.mktop>#mkinbox>#mkin2{
    width:45%;
    /* border: 1px solid blue; */
}
.mktop>#mkinbox>#mkin2>img{
    width:100%;
}
.mktop>#mkinbox>#mkin1>h1{
    font-size:14px;
    margin-bottom: 30px;
}
.mktop>#mkinbox>#mkin1>h2{
    font-size:54px;
    font-weight: lighter;
    line-height: 45px;
    margin-bottom: 30px;
}
.mktop>#mkinbox>#mkin1>p{
    font-size:24px;
    margin-bottom: 30px;
    font-weight: lighter;
}
.mktop>#mkinbox>#mkin1>a{
    font-size:15px;
    padding:20px 40px;
    text-decoration: none;
    color:white;
    margin-bottom: 30px;
    font-weight: bold;
    background-color: #007c89;
}
/* top end */
/* mid start */
.mkmid{
    margin-top:100px;
}
.mkmid>#midbox1{ 
width:45%;
margin:auto;
margin-bottom:150px;
text-align: center;
}
.mkmid>#midbox1>h2{
    font-size: 54px;
    font-weight: lighter;
    margin-bottom:25px;
}
.mkmid>#midbox1>p{
    font-size:16px;
    color:grey;
}

.mkmid>#midbox2{
    /* border: 1px solid; */
    margin:auto;
    margin-bottom:150px;
display:flex;
width:85%;
justify-content: space-evenly;
}
.mkmid>#midbox2>#midinbox1{
    /* border: 1px solid; */
    width:17%;
    text-align: center;
}
.mkmid>#midbox2>#midinbox1>p:first-child{
    font-size:74px;
    margin-bottom: 20px;
}
.mkmid>#midbox2>#midinbox1>h3{
    font-size:24px;
    font-weight: lighter;
    margin-bottom: 20px;
}
.mkmid>#midbox2>#midinbox1>p:last-child{
    font-size: 16px;
}
.mkmid>#midbox3{
    width:100%;
    height: 400px;
    margin:auto;
    margin-bottom:150px;
    display:flex;
    justify-content: space-evenly;
    border: 1px solid;
    background-color: rgb(42, 34, 29);
}
.mkmid>#midbox3>#midinbox1{
    width:45%;
    margin: auto;
}
.mkmid>#midbox3>#midinbox2{
    width:40%;
    display:flex;
    align-items: center;
}
.mkmid>#midbox3>#midinbox1>iframe{
width:100%;
height: 300px;
}
.mkmid>#midbox3>#midinbox2>blockquote{
    font-size:40px;
    color: white;
}
.mkmid>#midbox4{
    /* border:1px solid; */
    margin:auto;
    margin-bottom:150px;
    width:70%;
    display:flex;
    justify-content: space-between;
}
.mkmid>#midbox4>#midinbox1{
    width:40%;
}
.mkmid>#midbox4>#midinbox1>h2{
font-size: 50px;
font-weight: lighter;
margin-bottom:25px;
}
.mkmid>#midbox4>#midinbox1>p{
font-size:18px;
margin-bottom:50px;
}
.mkmid>#midbox4>#midinbox1>a{
border: 1px solid;
font-size:15px;
font-weight: bold;
color:#007c89;
text-decoration: none;
padding:20px 40px;
}
.mkmid>#midbox4>#midinbox2{
    width:40%;
    display:flex;
    align-items: center;
}
.mkmid>#midbox4>#midinbox2>img{
    width:100%;
}
/* box start*/
#midbox5{
    width:70%;
    margin:auto;
    margin-bottom:130px;
}
#midbox5>h2{
font-size:32px;
margin-bottom: 50px;
}
#midbox5>#inbox1{
    /* border: 1px solid; */
display:flex;
justify-content: space-between;
margin-bottom: 10px;
}
#midbox5>#inbox1>#box1{
    /* border: 1px solid red; */
    width:20%;
    margin: auto;
}
#midbox5>#inbox1>#box2{
    /* border: 1px solid blue; */
    width:70%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#midbox5>#inbox1>#box2>span{
    font-size:32px;
    font-weight:300
}
#midbox5>#inbox1>#box2>p{
    margin-top: 20px;
    line-height: 20px;
    color:grey;
    font-size:16px;
}
#midbox5>#inbox1>#box1>img{
width:110%;
}
/* box end */
#midbox6{
    margin:auto;
    margin-bottom:130px;
    width:80%;
    display:flex;
    justify-content: space-around;
}
#midbox6>#midinbox1{
    width:40%;
    /* border: 1px solid; */
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#midbox6>#midinbox1>h2{
    font-size: 45px;
    line-height: 45px;
    font-weight: lighter;
    margin-bottom: 10px;
}
#midbox6>#midinbox1>p{
    font-size: 18px;
    color:grey;
    margin-bottom: 15px;
}
#midbox6>#midinbox1>a{
    width:fit-content;
font-size:15px;
font-weight: bold;
border: 1px solid;
padding:20px 40px;
color:#007c89;
text-decoration: none;
}
#midbox6>#midinbox2{
    width:40%;
}
#midbox6>#midinbox2>img{
    width:100%;
}
/* youtube start */
#midbox7{
    width:70%;
    margin:auto;
    margin-bottom: 30px;
}
#midbox7>iframe{
    width:935px;
    height:526px;
    
}
/* youtube end */
/* midbox8 start */
#midbox8{
    width:60%;
    margin:auto;
    margin-bottom: 100px;
}
#midbox8>blockquote{
    font-size:48px;
    line-height: 45px;
    margin-bottom: 20px;
}
#midbox8>p{
    font-size:14px;
    color:grey;
    margin-bottom: 70px;
}
#midbox8>a{
    padding:20px 40px;
    border: 1px solid;
    text-decoration: none;
    color:#007c89;
    font-weight: bold;
    font-size:15px;
}
/* midbox8 end */
/* mid end */
/* last start */
.lsbox1{
    background-color: #ffe01b;
    width:100%;
}
.lsbox1>#lsinbox1{
    padding-top: 100px;
    padding-bottom: 100px;
    width:50%;
    margin:auto;
    text-align: center;
}
.lsbox1>#lsinbox1>h2{
   
    font-size: 64px;
    font-weight: lighter;
    margin-bottom: 20px;
}
.lsbox1>#lsinbox1>p{
    font-size: 22px;
    margin-bottom: 50px;
}
.lsbox1>#lsinbox1>a{
    padding: 20px 40px;
    background-color: #007c89;
    font-size: 15px;
    color:white;
    font-weight: bold;
    text-decoration: none;
}

.lsbox2>#ls1{
    width:70%;
    margin:auto;
    margin-top:100px;
}
.lsbox2>#ls1>h2{
    font-weight: lighter;
    font-size:32px;
}
.lsbox2>#ls2{
    /* border: 1px solid red; */
    margin:auto;
    width:70%;
    display:flex;
    justify-content: space-between;
}
.lsbox2>#ls2>#lsinbox1{
    width:30%;
    margin-top:30px;
    /* border: 1px solid; */
}
.lsbox2>#ls2>#lsinbox1>img{
    width:100%;
    margin-bottom: 30px;
}
.lsbox2>#ls2>#lsinbox1>img+p{
    font-size: 14px;
    margin-bottom: 15px;
    /* border: 1px solid; */
}
.lsbox2>#ls2>#lsinbox1>a{
    /* border: 1px solid; */
    font-size:24px;
    text-decoration: none;
    color: #007c89;
}
.lsbox2>#ls2>#lsinbox1>p:last-child{
font-size: 16px;
/* border: 1px solid; */
margin-top:20px;
}

/* ****************************************************************************** 
*******************************************************************************/


#bigbox>h1 {
    text-align: center;
    font-size: 35px;
}
#bigbox>h1:hover{
    color: red;
  }
#plan {
    width: 90%;
    height: 450px;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    /* grid-template-rows: repeat(4); */
    /* gap: 10px; */
    margin-bottom: 10px;
}

#plan>div {
    /* border: 2px solid red; */
    border: 1px solid black;
    width: 92%;
    height: 80%;
    margin: auto;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;

}
#plan>div:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
#box1 h3 {
    margin-bottom: 10px;
    font-size: 24px;
    padding-left: 10px;
}
#box1 h3:hover{
    color: red;
  }

#box1 h1 {
    margin-bottom: 10px;
}
#box1 h1:hover{
    color: teal; 
  }
#box1 h6 {
    margin-bottom: 10px;
    padding-left: 10px;
font-size: 15px;
color: rgb(66, 68, 68);
}
#box1 h6:hover{
    color: rgb(210, 133, 0); 
  }
#box1 p {
    margin-bottom: 10px;
padding-left: 10px;
text-shadow: #ff3ebf;
text-decoration: underline;
}
#box1 p:hover{
    color: rgb(137, 0, 210); 
  }
  #more{
    display: flex;
    width: 10%;
    font-size: 15px;
    /* border: 3px solid red; */
    margin: auto;
    margin-bottom: 20px;
justify-content: center;
  }
  #more:hover{
    color: rgb(210, 53, 0); 
  }

  /* ******************************************************************************
  ***************************************************************************************/
@media all and (min-width:200px) and (max-width:480px) {
    .mkmid>#midbox2>#midinbox1{
        /* border: 1px solid; */
        width:17%;
        text-align: center;
    }
    .mkmid>#midbox2>#midinbox1>p:first-child{
        font-size:74px;
        margin-bottom: 20px;
    }
    .mkmid>#midbox2>#midinbox1>h3{
        font-size:24px;
        font-weight: lighter;
        margin-bottom: 20px;
    }
    .mkmid>#midbox2>#midinbox1>p:last-child{
        font-size: 16px;
    }

    #plan {
        /* width: 90%;
        height: 450px; */
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* margin: auto; */
        grid-template-rows: repeat(4),100px;
        /* gap: 5px;
        margin-bottom: 10px; */
      }

      #plan>div {
        /* border: 2px solid red; */
        width: 60%;
        height: 100%;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding-top: 20px;
      
      }
      .mktop{
        width: 100%;
        padding-top:100px;
        background-color: #c5dbf2;
        /* border:1px solid; */
    }
    .mktop>#mkinbox{
        width:70%;
        display:grid;
        justify-content: space-around;
        /* border:1px solid; */
        margin:auto;
        padding-bottom: 60px;
    }  
    .mktop>#mkinbox>#mkin2>img{
        width:250%;
        margin-top: 30px;
        /* border:1px solid; */
    }
    .mkmid>#midbox2{
        /* border: 1px solid; */
        margin:auto;
        margin-bottom:150px;
    display:grid;
    grid-template-columns: repeat(1,1fr);
    width:85%;
    justify-content: space-evenly;
    margin: auto;
    }
    .mkmid>#midbox2>#midinbox1{
        /* border: 1px solid; */
        width:50%;
        text-align: center;
        margin: auto;
    }
    #midbox5{
        width:70%;
        margin:auto;
        margin-bottom:130px;
        margin-top: 200%;
    }
    #midbox5>h2{
    font-size:32px;
    margin-bottom: 50px;
    }
    #midbox5>#inbox1{
        /* border: 3px solid; */
    display:grid;
    justify-content: space-between;
    margin-bottom: 10px;
    /* margin-top: 10%; */
    }
    #midbox5>#inbox1>#box1{
        /* border: 1px solid red; */
        width:30%;
        margin: auto;
    }
    #midbox5>#inbox1>#box2{
        /* border: 1px solid blue; */
        width:70%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    #midbox5>#inbox1>#box2>span{
        font-size:32px;
        font-weight:300
    }
    #midbox5>#inbox1>#box2>p{
        margin-top: 20px;
        line-height: 20px;
        color:grey;
        font-size:16px;
    }
    #midbox5>#inbox1>#box1>img{
    width:210%;
    margin: auto;
    margin-right: 10%;
    }
}

@media all and (min-width:480p) and (max-width:820px) {
    #plan {
        width: 90%;
        /* height: 500px; */
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* margin: auto; */
        /* grid-template-rows: repeat(4); */
        /* gap: 10px; */
        /* margin-bottom: 10px; */
    }
    #plan>div {
        /* border: 2px solid red; */
        border: 1px solid black;
        /* width: 92%; */
        height: 100%;
        /* margin: auto; */
        /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    
    }
    .mkmid>#midbox2>#midinbox1{
        /* border: 1px solid; */
        width:17%;
        text-align: center;
    }
    .mkmid>#midbox2>#midinbox1>p:first-child{
        font-size:74px;
        margin-bottom: 20px;
    }
    .mkmid>#midbox2>#midinbox1>h3{
        font-size:24px;
        font-weight: lighter;
        margin-bottom: 20px;
    }
    .mkmid>#midbox2>#midinbox1>p:last-child{
        font-size: 16px;
    }

    #plan {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* margin: auto; */
        grid-template-rows: repeat(2),100px;
        /* gap: 5px;
        margin-bottom: 10px; */
      }
      .mktop{
        width: 100%;
        padding-top:100px;
        background-color: #c5dbf2;
        /* border:1px solid; */
    }
    .mktop>#mkinbox{
        width:70%;
        display:grid;
        justify-content: space-around;
        /* border:1px solid; */
        margin:auto;
        padding-bottom: 60px;
    }  
    .mktop>#mkinbox>#mkin2>img{
        width:250%;
        margin-top: 30px;
        /* border:1px solid; */
    }
    .mkmid>#midbox2{
        /* border: 1px solid; */
        margin:auto;
        margin-bottom:150px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    width:85%;
    justify-content: space-evenly;
    margin: auto;
    }
    .mkmid>#midbox2>#midinbox1{
        /* border: 1px solid; */
        width:50%;
        text-align: center;
        margin: auto;
    }
    #midbox5{
        width:70%;
        margin:auto;
        margin-bottom:130px;
        margin-top: 200%;
    }
    #midbox5>h2{
    font-size:32px;
    margin-bottom: 50px;
    }
    #midbox5>#inbox1{
        /* border: 3px solid; */
    display:grid;
    justify-content: space-between;
    margin-bottom: 10px;
    /* margin-top: 10%; */
    }
    #midbox5>#inbox1>#box1{
        /* border: 1px solid red; */
        width:30%;
        margin: auto;
    }
    #midbox5>#inbox1>#box2{
        /* border: 1px solid blue; */
        width:70%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    #midbox5>#inbox1>#box2>span{
        font-size:32px;
        font-weight:300
    }
    #midbox5>#inbox1>#box2>p{
        margin-top: 20px;
        line-height: 20px;
        color:grey;
        font-size:16px;
    }
    #midbox5>#inbox1>#box1>img{
    width:210%;
    margin: auto;
    margin-right: 10%;
    }
    
}