/******************* signUp codes ************************** */
*{
    margin: 0;
}

#main_container{
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#left_child{
    margin-left: 4%;
    margin-right: 4%;
    width: 500px;
    height: auto;
    margin-top: 150px;
}

#right_child{
    width: 1250px;
    margin-bottom: 0;
    
}

#heading,#inputs,#checkbox,#conditions,#policy{
    width: 100%;
    margin-top: 4%;
}

#heading>h1{
  font-size: 35px;
}

#WMB{
    color: rgb(211, 211, 0);
}

#heading>p{
    font-size: 21px;
    margin-top: 1.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#heading>p>a{

    color: rgb(0, 208, 208);
}

#left_main>#inputs>label{
    
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.imp{
    font-size: 20px;
    color: red;
}

#inputs>input{
    display: block;
    width: 99%;
    height: 45px;
    border-radius: 0;
    border: 1px solid rgb(176, 176, 176);
    margin-top: 1%;
}

#checkbox{
    text-align: center;
}

#checkbox>input{
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-top: 4%;
}

#checkbox>label{
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 19px;
}

#terms-conditions{
    margin-top: 4%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}

#signup{
    margin-top: 4%;
}

#signup>button{
    width: 100%;
    height: 47px;
    color: white;
    font-size: 18px;
    background-color: teal;
    border: 0;
    transition: all 300ms ease-in-out;
}

#signup>button:hover{
    background-color: rgb(0, 98, 98);
    cursor: pointer;
}

#policy{
    margin-top: 7%;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 25px;
}


/* ************POPUP**************** */
body{
    background-color: #eee;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.popup{
    width: 350px;
    height: 280px;
    padding: 30px 20px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 2;
    text-align: center;
    opacity: 0;
    top: 200%;
    transform: translate(-50%,-50%) scale(0.5);
    transition: opacity 300ms ease-in-out,
                top 1000ms ease-in-out,
}

.popup.active{
    opacity: 1;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    transition:transform 300ms cubic-bezier(0.18.0.89.0.43.1.19);
}

.popup .icon{
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid #34f234;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
}

.popup .icon i.fa{
    font-size: 30px;
    color: #34f234;
}

.popup .title{
    margin: 5px 0px;
    font-size: 30px;
    font-weight: 600;

}

.popup .description{
    color: #222;
    font-size: 15px;
    padding: 5px;
}

.popup .dismiss-btn{
    margin-top: 15px;
}

.popup .dismiss-btn button{
    padding: 10px 20px;
    background: #111;
    color: #f5f5f5;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.popup .dismiss-btn button:hover{
    color: #111;
    background: #f5f5f5;
}

.popup>div{
    position: relative;
    top: 10px;
    opacity: 0;
}

.popup.active>div{
    top: 0px;
    opacity: 1;
}

.popup.active .icon{
    transition: all 300ms ease-in-out 250ms;
}

.popup.active .description{
    transition: all 300ms ease-in-out 300ms;
}

.popup.active .dismiss-btn{
    transition: all 300ms ease-in-out 250ms;
}





/**************** media query *************/


@media all and (min-width:20px) and (max-width:1000px){
    /******************* signUp codes ************************** */
    *{
        margin: 0;
    }
    
    #main_container{

        width: 100%;
        height: auto;
        margin-top: -40px;
        /* display: flex;
        justify-content: space-evenly; */
    }
    
    #left_child{
        width: 900px;
        margin: auto;
        width: 600px;
        height: auto;
        padding: 20px;
        margin-top: 150px;
    }
    
    #right_child{
        display: none;
    
    }

    #signup>button{
        width: 100%;
    }

}