*{
    margin: 0;
}

#main_container{
    /* border: 1px solid black; */
    margin: auto;
    height: 700px;
}

#main_top{
   width: 100%;
   height: 45px;
   display: flex;
   justify-content: space-evenly;
   margin: auto;
}

#main_top>div{
    border: 1px solid #241c15;
    width: 33.33%;
    height: 100%;
    background-color: #f6f6f4;;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_top>div>h4{
    font-weight: 500;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#pricing{
    width: 900px;
    height: 45px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

#pricing>div{
   width: 33.33%;
   display: flex;
   justify-content: center;
   align-items: center;
}

#pricing>div:nth-child(1){
    background-color: #f6f6f4;
    border: 1px solid #241c15;
}

#select_price{
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    border: 1px solid #241c15;
}

#pricing>div>h4{
    font-weight: 500;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}


/* button */

.float_btn{
    display: inline-block;
    font-size:14px;
    color: black;
    padding: 14px 24px;
    border-radius: 35px;
    border: none;
    border:1px solid black;
    margin-top: 20px;
    transform: translateY(0);
    position: relative;
    text-decoration: none;
    background-color: #e7b75f;
    

}
.float_btn:hover{
    box-shadow: 0px 5px 0px -1px rgba(0,0,0,1);
    transform: translate(0px, -5px);            
    /* transition: all ease-in-out 200ms; */
    transition: transform .3s cubic-bezier(.5,2.5,.7,.7),box-shadow .3s cubic-bezier(.5,2.5,.7,.7),-webkit-transform .3s cubic-bezier(.5,2.5,.7,.7),-webkit-box-shadow .3s cubic-bezier(.5,2.5,.7,.7);
    font-weight: 700;
}

.graphikWeb{
    font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;;
}





#pricing>div:nth-child(3){
    display: flex;
    justify-content: end;
}

#select_currency{
    height: 100%;
    font-weight: 900;
    border: 0;
}

#mid_table{
    margin: auto;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

#mid_table>div{
    border: 1px solid #241c15;
    width: 25%;
    height: 100%;
}

#mid_table a{
    color: #241c15;
    
}

.first_col{
    height: 390px;
}

.prices_top{
    padding: 20px;
    height: 350px;
}

.prices_top>h2{
    margin-top: 15px;
    font-size: 24px;
}

.prices_top>p{
    margin-top: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.prices_top>button{
    margin-top: 15px;
}

.span_elem{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.prices_top a{
    color: #241c15;
}

.prices_top a:hover{
    background-color: rgb(255, 234, 0);
}

.prices_grey{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f4;
    height: 40px;
}

.prices_white{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    height: 40px;
}

#mid_table_bottom{
    margin: auto;
    width: 80%;
    height: 45px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

#mid_table_bottom>div{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#mid_table_bottom a{
    color: #241c15;
}

#Mid_button{
    display: block;
    margin: auto;
    margin-top: 50px;
}

#grid_part{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    row-gap: 50px;
    margin-top: 100px;
}

#grid_part>div{
    padding: 20px;
}

#grid_part>div:nth-child(1){
    border-right: 1px solid black;
}

#grid_part>div:nth-child(2){
    border-left: 1px solid black;
}

#grid_part>div:nth-child(3){
    border-right: 1px solid black;
}

#grid_part>div:nth-child(4){
    border-left: 1px solid black;
}

#grid_part>div>h1{
    font-size: 37px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

#grid_part>div>p{
    margin-top: 30px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}


#grid_part>div>button{
    margin-top: 30px;
}

#grid_part a{
    color: #241c15;
}

#FAQs{
    width: 75%;
    margin: auto;
    padding: 30px;
    margin-top: 30px;
}

.questions{
    height: 80px;
    display: flex;
    align-items: center;
    margin-top: 10px;

}

#FAQs hr{
    margin-top: 10px;
} 

.questions a{
    text-decoration: none;
    color: #241c15;
    font-size: 25px;
    margin-left: 10px
}

.questions a:hover{
    text-decoration: underline;
}

.bottm_heading{
    text-align: center;
    margin-top: 60px;
    font-size: 50px;
}

#brand_logos{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

#brand_logos>div{
    width: 20%;
}


/* Footer */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:#e7b75f;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 300;
	color:black;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: black;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: black;
	transition: all 0.5s ease;
}

#socialNetwork{
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}